form { max-width:580px; margin:10px auto; }

.feedback-input {
  color:#424242;
  font-family: sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:1px solid #696969;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100% ;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #80a969; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: sans-serif;
  width: 100%;
  background:#80a969;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#526e41; }


.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 5s linear infinite;
}

.marquee2 span {
  animation-delay: 2.5s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}


.u-section-1 .u-sheet-1 {
  min-height: 586px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 570px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  margin: 20px 628px 0 285px;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.2em;
}

.u-section-1 .u-btn-2 {
  margin: 4px 782px 0 285px;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  font-size: 1.2em;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0 285px;
}

.u-section-1 .u-form-1 {
  height: 323px;
  width: 596px;
  margin: 0 auto 60px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 185px;
    margin-right: 528px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 185px;
    margin-right: 682px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 75px;
    margin-right: 418px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 75px;
    margin-right: 572px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    margin-right: 313px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
    margin-right: 467px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 113px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 267px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 11px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}